/* * {
  box-sizing: border-box;
} */

body {
    background-color: rgba(255, 255, 255, 0.822);
    height:100%;
    font-family: sans-serif;
    margin: 0;
  }

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* Title Page ----------------------------- */

header {
  text-align:center;
  height: calc(100vh + 53px);
  /* background-color: rgb(97, 97, 97); */
  background: linear-gradient(rgb(000,088,176), transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              url('../img/waterfall.jpeg') no-repeat center;
            background-size: cover;
}

.title {
  color:rgb(255, 255, 255);
  font-size: 72px;
  font-weight:300;
  letter-spacing: 0.30em;
  padding-top: 15%;
  padding-bottom: 72px;
  text-shadow: 0 1px 1px rgba(0,0,0, .8);
  width: 75%;
  margin: auto;
}

.highlight {
  color: rgb(0, 255, 200)
}



.arrow {
  width: 50px;
  margin-top: 150px;
}

/* NavBar ---------------------------- */

.top-nav-collapse {
  background-color: rgb(0, 255, 200) !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
      background: rgb(0, 255, 200)!important;
  }
}

/* Boxes ------------------------------ */ 


.box {
  margin: 55px 0 50px;
  /* border-top: 10px solid rgb(0, 255, 200);
  box-shadow: 0px 15px 20px -12px rgba(0, 0, 0, .8);
  background-color: #434a52;
  border-radius: 10px; */
}

.box h2 {
  font-size: 5rem;
  color: rgb(0, 255, 200);
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.8;
  margin-bottom: -10px;
  
}

.box p {
    font-size: 1.5em;
  line-height: 160%;
  color: rgb(139, 127, 121);
}

/* Skills ----------------------------- */

.skills {
  display: flex;
  border-top: 10px solid rgb(0, 255, 200);
  box-shadow: 0px 15px 20px -12px rgba(0, 0, 0, .8);
  border-radius: 10px;
}


.column {
  flex-direction: column;
  flex-grow: 1;
  width: 0;
  background-color: #434a52;
  opacity: 1;
  transition: 0.3s;
  text-align: center;
  
}

.column:hover {
  opacity: 0.9;
}

.column h3 {
  margin-top: 30px;
  color: rgb(0, 255, 200);
  font-size: 2.5rem !important;
}

.column p {
  color: coral;
}

.column ul {
  list-style-type: none;
  color: white;
  padding: 5px;
  font-size: 1.5rem;
}

.column li {
  padding-top: 2%;
}

#personal {
  border-left: 2px dotted rgb(0, 255, 200);
}

/* Projects ----------------------------- */

.tree {
  width: 100%;
}




/* Flip Card */

.card .img-top {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  -webkit-transition: opacity .4s ease-out;
  -o-transition: opacity .4s ease-out;
}
.card:hover .img-top {
  opacity: 1;
}

/* Picture Bit */

.streak.streak-photo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.streak.streak-md {
  height: 400px;
}

@media (min-width: 1366px) {
.streak.streak-photo {
    background-attachment: fixed;
}
}

.streak {
  position: relative;
  display: block;
  height: 250px;
  overflow: hidden;
}

/* Footer --------------------------- */

.page-footer {
  background: #434a52;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background: #626362;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}


/* Media Queries ------------------- */

@media (max-width: 1024px) {
  .primary-content {
    width: 90%;
  }

  .title {
    font-size: 58px;
  }

}

@media (max-width: 768px) {



  .column {
    flex: 1 50%;
  }

  ul {
    padding-inline-start: 15px;
  }


  header {
    max-height: 380px;
    padding: 50px 25px 0;
  }

  .title {
    font-size: 2rem;
    border: none;
  }

  .arrow {
    display: none;
  }

}

/* Clearfix */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }

